In [71]:
import numpy as np
import pandas as pd
import time

import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
hi_data = pd.read_csv("train.csv")
hi_data_no_modified = pd.read_csv("train.csv")

In [73]:
print (hi_data.dtypes)

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [74]:
categorias = hi_data['Response'].unique()
print("Categories:", categorias)

Categories: [1 0]

In [75]:
print(hi_data.isna().sum())
print()
print("Per lo tant, total de NaNs: ", hi_data.isna().sum().sum())

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

Per lo tant, total de NaNs:  0

In [76]:
target = 'Response'
numeric_attributes = hi_data.select_dtypes(include=[np.number]).columns.tolist()
attributes = [k for k in numeric_attributes if k != target]

correlations = hi_data[attributes + [target]].corr()[target].drop(target)

print("Correlación entre cada atributo y la variable objetivo (Response):")
print(correlations)

Correlación entre cada atributo y la variable objetivo (Response):
id                     -0.001368
Age                     0.111147
Driving_License         0.010155
Region_Code             0.010570
Previously_Insured     -0.341170
Annual_Premium          0.022575
Policy_Sales_Channel   -0.139042
Vintage                -0.001050
Name: Response, dtype: float64

In [77]:
print("La mitjana de persones que estan interessades es:", (hi_data[target].mean())*100, "%")

La mitjana de persones que estan interessades es: 12.256336113815209 %

In [78]:
drop_column = ['id','Driving_License','Region_Code']
hi_data.drop(drop_column, axis=1, inplace = True)
hi_data

,Gender,Age,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,0,> 2 Years,Yes,40454.0,26.0,217,1
1,Male,76,0,1-2 Year,No,33536.0,26.0,183,0
2,Male,47,0,> 2 Years,Yes,38294.0,26.0,27,1
3,Male,21,1,< 1 Year,No,28619.0,152.0,203,0
4,Female,29,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...
381104,Male,74,1,1-2 Year,No,30170.0,26.0,88,0
381105,Male,30,1,< 1 Year,No,40016.0,152.0,131,0
381106,Male,21,1,< 1 Year,No,35118.0,160.0,161,0
381107,Female,68,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,Male,46,0,1-2 Year,No,41777.0,26.0,237,0

In [79]:
hi_data['Gender'] = hi_data['Gender'].map({'Male': 0, 'Female': 1})
print(hi_data[['Gender']].head())

   Gender
0       0
1       0
2       0
3       0
4       1

In [80]:
hi_data['Vehicle_Age'] = hi_data['Vehicle_Age'].map({'< 1 Year': 0, '1-2 Year': 1, '> 2 Years': 2})
print(hi_data[['Vehicle_Age']].head())

   Vehicle_Age
0            2
1            1
2            2
3            0
4            0